{% extends "shop/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block navbar %}
    <li><a href="/">Home</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/gallery/">Gallery</a></li>
    <li class="has-children">
        <a href="#">Collections</a>
        <ul class="dropdown">
            {% for c in categories %}
                <li>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li><a href="/contact/">Contact</a></li>
{% endblock %}


{% block content %}
    <div class="site-wrap">

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="icon-check_circle display-3 text-success"></span>
                        <h2 class="display-3 text-black">Password Reset</h2>
                        <p class="lead mb-5">
                            We have sent you an e-mail.
                            Please contact us if you do not receive it within a few minutes.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
