<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Neue | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Vendor CSS -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/util.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/main.css' %}">
</head>
<body>
	<div class="container-login100">
		<div class="wrap-login100 p-t-5">
            {% if messages %}
                <div>
                  <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                  </ul>
                </div>
            {% endif %}
			<form class="login100-form validate-form" method="post">
                {% csrf_token %}
				<div class="site-logo">
					<a href="/">Neue Art Shop</a>
				</div>

                <p class="error-field text-danger m-t-20 m-b-5">{{ form.errors.non_field_errors.as_text }}</p>

                <p class="error-field text-danger m-t-20 m-b-5">{{ form.errors.oldpassword.as_text }}</p>
				<div class="wrap-input100 validate-input m-t-35 m-b-40" data-validate="Enter password">
					<input class="input100" type="password" name="oldpassword" required id="id_oldpassword">
					<span class="focus-input100" data-placeholder="Password"></span>
				</div>

                <p class="error-field text-danger m-t-20 m-b-5">{{ form.errors.password1.as_text }}</p>
                <div class="wrap-input100 validate-input m-b-40" data-validate="Enter new password">
					<input class="input100" type="password" name="password1" required id="id_password1">
					<span class="focus-input100" data-placeholder="New Password"></span>
				</div>

                <p class="error-field text-danger m-t-20 m-b-5">{{ form.errors.password2.as_text }}</p>
                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter new password again">
					<input class="input100" type="password" name="password2" required id="id_password2">
					<span class="focus-input100" data-placeholder="New Password (Again)"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Change Password
					</button>
				</div>
			</form>
		</div>
	</div>
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'resources/js/script.js' %}"></script>

</body>
</html>