<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Neue | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Vendor CSS -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/util.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'resources/css/main.css' %}">
</head>
<body>
	<div class="container-login100">
		<div class="wrap-login100 p-t-5">
			<form class="login100-form validate-form" method="post">
                {% csrf_token %}
				<div class="site-logo">
					<a href="/">Neue Art Shop</a>
				</div>

                {{ form.errors.non_field_errors }}

                <p class="error-field text-danger m-t-20 m-b-5">{{ form.errors.username.as_text }}</p>
				<div class="wrap-input100 validate-input m-b-35" data-validate = "Enter username">
					<input class="input100 m-t-15" type="text" name="username" required id="id_username">
					<span class="focus-input100 focus-input100-register" data-placeholder="Username"></span>
				</div>

                <p class="error-field text-danger m-t-20 m-b-5">{{ form.errors.email.as_text }}</p>
                <div class="wrap-input100 validate-input m-b-35" data-validate = "Enter email address">
					<input class="input100" type="email" name="email" required id="id_email">
					<span class="focus-input100 focus-input100-register" data-placeholder="Email Address"></span>
				</div>

                <p class="error-field text-danger m-b-5">{{ form.errors.password1.as_text }}</p>
				<div class="wrap-input100 validate-input m-b-55" data-validate="Enter password">
					<input class="input100" type="password" name="password1" required id="id_password1">
					<span class="focus-input100 focus-input100-register" data-placeholder="Password"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Login
					</button>
				</div>

				<ul class="login-more p-t-30">
					<li class="m-b-8">
						<span class="txt1">
							Forgot
						</span>

						<a href="{% url 'account_reset_password' %}" class="txt2">
							Username / Password?
						</a>
					</li>

					<li>
						<span class="txt1">
							Have an account?
						</span>

						<a href="{% url 'account_login' %}" class="txt2">
							Sign up
						</a>
					</li>
				</ul>
			</form>
		</div>
	</div>
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'resources/js/script.js' %}"></script>

</body>
</html>