{% extends "shop/base.html" %}

{% load static %}

{% block title %}
    Neue Art Shop &mdash; Art for everyone
{% endblock %}

{% block navbar %}
    <li><a href="/">Home</a></li>
    <li><a href="/#about">About</a></li>
    <li class="active"><a href="/gallery/">Gallery</a></li>
    <li class="has-children">
        <a href="#">Collections</a>
        <ul class="dropdown">
            {% for c in categories %}
                <li>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li><a href="/contact/">Contact</a></li>
{% endblock %}

{% block content %}
    <div class="site-wrap">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a href="/">Home</a>
                        <span class="mx-2 mb-0">/</span>
                        <strong class="text-black">Gallery</strong>
                        <span class="mx-2 mb-0">/</span>
                        {% if category %}
                            <strong class="text-black">{{ category }}</strong>
                        {% else %}
                            <strong class="text-black">All</strong>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">

                <div class="row mb-5">
                    <div class="col-md-9 order-2">

                        <div class="row">
{#                            <div class="col-md-12 mb-5">#}
{#                                <div class="float-md-left mb-4"><h2 class="text-black h5"></h2></div>#}
{#                                <div class="d-flex">#}
{#                                    <div class="dropdown mr-1 ml-md-auto">#}
{#                                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"#}
{#                                                id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true"#}
{#                                                aria-expanded="false">#}
{#                                            Latest#}
{#                                        </button>#}
{#                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">#}
{#                                            <a class="dropdown-item" href="#">Men</a>#}
{#                                            <a class="dropdown-item" href="#">Women</a>#}
{#                                            <a class="dropdown-item" href="#">Children</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="btn-group">#}
{#                                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"#}
{#                                                id="dropdownMenuReference" data-toggle="dropdown">Reference#}
{#                                        </button>#}
{#                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">#}
{#                                            <a class="dropdown-item" href="#">Relevance</a>#}
{#                                            <a class="dropdown-item" href="#">Name, A to Z</a>#}
{#                                            <a class="dropdown-item" href="#">Name, Z to A</a>#}
{#                                            <div class="dropdown-divider"></div>#}
{#                                            <a class="dropdown-item" href="#">Price, low to high</a>#}
{#                                            <a class="dropdown-item" href="#">Price, high to low</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                        <div class="row mb-5">
                            {% for product in products %}
                                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                                    <div class="block-4 text-center border">
                                        <figure class="block-4-image">
                                            <a href="{{ product.get_absolute_url }}">
                                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                                                     alt="Image placeholder"
                                                     class="img-fluid">
                                            </a>
                                        </figure>
                                        <div class="block-4-text p-4">
                                            <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                                            <p class="mb-0">by <a href="#">{{ product.owner }}</a></p>
                                            <p class="text-primary font-weight-bold">₦ {{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row" data-aos="fade-up">
                            <div class="col-md-12 text-center">
                                <div class="site-block-27">
                                    <ul>
                                        <li><a href="/gallery/?page=1">&lt;</a></li>
                                        {% if active_page %}
                                            {% for page_number in page_numbers %}
                                                    <li {% if page_number == active_page %}class="active"{% endif %}>
                                                        <a href="/gallery/?page={{ page_number }}">
                                                            <span>{{ page_number }}</span>
                                                        </a>
                                                    </li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="active">
                                                <a href="/gallery/?page=1"><span>1</span></a>
                                            </li>
                                            {% for page_number in page_numbers %}
                                                {% if page_number != '1' %}
                                                    <li>
                                                        <a href="/gallery/?page={{ page_number }}">
                                                            <span>{{ page_number }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <li><a href="#">&gt;</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 order-1 mb-5 mb-md-0">
                        <div class="border p-4 rounded mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                            <ul class="list-unstyled mb-0">
                                {% for category_details in category_breakdown %}
                                    <li class="mb-1">
                                        <a href="{{ category_details.url }}" class="d-flex">
                                            <span>{{ category_details.name }}</span>
                                            <span class="text-black ml-auto">{{ category_details.number }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="mb-4 mt-5">
                                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                                <div id="slider-range" class="border-primary"></div>
                                <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white"
                                       disabled=""/>
                            </div>

                            <div class="mb-4">
                                {# Add filter button #}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}